name: Build, Push, and Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build and Push Windows Docker Image
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Switch Docker to Windows containers mode
        run: |
          & "$Env:ProgramFiles\Docker\Docker\DockerCli.exe" -SwitchDaemon

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker version
          docker build -t $Env:ECR_REGISTRY/$Env:ECR_REPOSITORY:$Env:IMAGE_TAG .
          docker tag $Env:ECR_REGISTRY/$Env:ECR_REPOSITORY:$Env:IMAGE_TAG $Env:ECR_REGISTRY/$Env:ECR_REPOSITORY:latest
          docker push $Env:ECR_REGISTRY/$Env:ECR_REPOSITORY:$Env:IMAGE_TAG
          docker push $Env:ECR_REGISTRY/$Env:ECR_REPOSITORY:latest


  # deploy:
  #   name: Deploy to EC2
  #   runs-on: ubuntu-latest
  #   needs: build-and-push

  #   steps:
  #     - name: Execute deployment script on EC2
  #       uses: appleboy/ssh-action@v1.2.0
  #       with:
  #         host: ${{ secrets.EC2_HOST }}
  #         username: ubuntu
  #         key: ${{ secrets.EC2_SSH_KEY }}
  #         script: |
  #           cd /home/ubuntu
  #           sudo chmod +x deploy.sh
  #           ./deploy.sh
